.editorGrid {
  display: grid;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
  grid-template-columns: minmax(220px, 230px) 1fr minmax(220px, 230px);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "left canvas right"
    "footer footer footer";
}

.editorGrid > * > * {
  height: 100%;
}
